@import 'styles/colors'

.postPreTag
  position: relative
  
  &__button
    position: absolute
    right: 1rem
    top: 1rem
    border: 1px solid $color--grey-2
    border-radius: .25rem
    width: 2rem
    height: 2rem
    display: flex
    align-items: center
    justify-content: center
    background-color: $color--grey-3
    cursor: pointer
    visibility: hidden
    opacity: 0
    transition: all 100ms ease-in-out

    &:active
      background-color: #f3f3f3

    &--success
      border-color: $color--success

  &:hover
    & .postPreTag__button
      transition: all 100ms ease-in-out
      background-color: #f6f6f6
      opacity: 1
      visibility: visible
