@import 'styles/colors'
@import 'styles/mixins'

.contactsForm
  display: flex
  flex-direction: column
  gap: 1rem
  background-color: $color--grey-3
  border-radius: .5rem
  padding: 2rem

  &__input
  &__textarea
  &__button
    @include button--primary
    display: flex
    align-items: center
    justify-content: center
    min-height: 40.5px
  
  &__modal

    &-title
      display: grid
      grid-auto-flow: column
      gap: .5rem

    &-title
      align-self: center
