@import "styles/colors"


.logo
  @include h3
  text-decoration: none
  margin-right: 4rem

  &:hover
    text-decoration: underline

  &:visited
    color: $color--secondary

  @media screen and (max-width: 767.98px)
    text-align: center
    margin: 0 auto

    &:hover
      text-decoration: none

