@import 'styles/mixins'
@import 'styles/colors'

.latestPosts

    &__header
        display: flex
        align-items: center
        justify-content: space-between
        gap: 1rem

    &__link
        @include subhead--regular
        color: $color--primary
        @media screen and (max-width: 767.98px)
            @include caption--regular
            background-color: #FFFFFF
            border: 1px solid $color--grey-2
            border-radius: .5rem
            display: flex
            align-items: center
            justify-content: space-between
            padding: .25rem .5rem
            cursor: pointer
            text-decoration: none
            white-space: nowrap

    &__title
        @include h2
        margin: 0