@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap')
@import 'styles/mixins'
@import 'styles/colors'

html, body
  font-family: 'Open Sans', sans-serif

html
  @media screen and (max-width: 767.97px)
    overflow-y: scroll

#__next
  display: flex
  flex-direction: column
  min-height: 100vh

h1
  @include h1

h2
  @include h2

h3
  @include h3

p
  @include body--regular

strong
  @include body--bold

hr
  border: 1px solid $color--grey-3

a
  color: $color--primary

.content
  flex-grow: 1

hr
  border: .5px solid $color--grey-2
  width: 100%

code
  background-color: $color--grey-3
  border-radius: .25rem
  padding: 0.2em 0.4em
  margin: 0
  font-size: 85%

pre
  margin: 0
  margin-bottom: 1rem

pre code.hljs
  padding: 1.5rem
  font-size: 1rem
  background-color: $color--grey-3
  border-radius: .25rem

iframe
  margin-bottom: 1rem

blockquote
  border-left: 4px solid $color--primary
  background-color: $color--grey-3
  border-radius: .5rem
  margin: 2rem 0
  padding: 1.5rem 2rem

  & p
    font-style: italic
    font-size: 1.1rem
    color: $color--secondary

    &:last-of-type
      margin-bottom: 0
